.list-item {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  list-style: none;
  font-size: 2.1rem;
  padding: 0;
  border: 1px #ddd solid;
  border-radius: .75rem;
  margin-bottom: .75rem; }
  .list-item__text {
    line-height: 2.5rem;
    padding: .9rem 2rem;
    margin-left: 4rem;
    max-width: 50rem; }
    .list-item__text--done {
      text-decoration: line-through;
      color: #c9c6c6; }
  .list-item__delete {
    border-radius: 0 .75rem .75rem 0;
    border: none;
    background-color: #DCDCDC;
    color: white;
    font-size: 3rem;
    line-height: 1rem;
    padding: 0 1.5rem;
    transition: all .2s; }
    .list-item__delete:hover {
      cursor: pointer; }
    .list-item__delete:focus, .list-item__delete:hover {
      background-color: rgba(252, 40, 40, 0.7);
      outline: none; }
  .list-item__check {
    appearance: none;
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
    border-image-width: 0;
    display: block;
    cursor: pointer;
    transition: all .2s; }
    .list-item__check:focus::after {
      box-shadow: 0 0 0 2pt rgba(67, 140, 53, 0.5);
      outline: none; }
    .list-item__check:hover::after {
      box-shadow: 0 0 0 2pt rgba(67, 140, 53, 0.5); }
    .list-item__check::after {
      content: '\2714';
      display: block;
      height: 105%;
      width: 3rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: #DCDCDC;
      border-radius: .75rem 0 0 .75rem;
      font-size: 3rem;
      padding-left: 1rem;
      color: white;
      transition: all .2s; }
    .list-item__check:checked::after {
      background-color: #438c35;
      content: '\2714'; }
