.all-lists {
  display: flex;
  justify-content: space-around;
  flex-basis: 100%;
  flex-wrap: wrap; }

.single-list__delete {
  font-weight: 600;
  color: white;
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 1rem;
  background-color: #DCDCDC;
  border-radius: .7rem; }
  .single-list__delete:hover {
    background-color: rgba(252, 40, 40, 0.7); }
